/* Définition des polices du site */
@font-face {
    font-family:'Raleway';
    src: url('fonts/Raleway-Thin.ttf');
}
@font-face {
    font-family:'Raleway-Bold';
    src: url('fonts/Raleway-Bold.ttf');
}

nav
{
    font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1
{
font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
font-size: 22px;
}

h2, input, button
{
font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;   
margin: 0px; 
}

h3
{
font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;    
}

h4
{
font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
margin:0px; 
  
}

figcaption
{
font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
margin:0px;
margin-left: 15px;   
}

footer li
{
font-family: 'Raleway',Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
margin:0px;
font-weight: bold;  
}

h5, p
{
font-family: 'Raleway',Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
font-weight: bold;
margin: 0px;
}

/*________________________________________________________________________________________________________________*/
/*________________________________________________________________________________________________________________*/
/*___________________________________________Version Desktop_______________________________________________________*/
/*________________________________________________________________________________________________________________*/
/*________________________________________________________________________________________________________________*/



/* Body & Bloc page */ 

/*Redéfinir les paramètres de mise en page par défaut du navigateur !!! 
A voir absolument pour le P3!!!*/

body
    {
        margin:0px;
    }


#bloc_page
{
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    max-width: 1400px;
}


/* --------------------------------------------------------------L'en-tête de la page : le Logo et la Nav*/ 

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#logo_site img{
    width: 65px;   
    height: 20px;
}


.H_nav{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0px; 
    padding:0px;
}   

.Moit{ 
    border-top: 2px solid transparent;
    padding: 40px;
}

.Moit:hover{
    border-top: 2px solid #0065FC;
    border-width: 2px 0 0 0;
}

header nav a{
    text-decoration: none;
    color:black;
}

.Moit a:hover{
    color: #0065FC;
    text-align: center;
}


/* ------------------------------------------------------------------------Le main = Champs de recherche*/
.Recherche{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#Rect_ico_geo{
    display: flex;
    height: 49px;
    width: 50px;
    background:#F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px; 
    align-items: center;
    margin:0px;  
}

.ico_dot{
    width: 25%; 
    padding-left: 20px;
}

input[type=search]{
    border: 1px solid #F2F2F2;
    border-width: 1px 0 1px 0;
    height: 51px;  
    width: 100%; 
    padding-left: 14px;
  }

input[type=search]:focus {
    outline:none;
    outline-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    margin:0px;
}

#boutonRech{
    display: block;
}

.boutonLoupe{
    display: none;
    color: #ffff;
    width: 20%;   
    height: 51px;
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px; 
    border-width: 0 1px 0 0;
}

.boutonLoupe:hover{
    color: #ffff;
    width: 120%;   
    height: 51px;
    background-color: #0355d1;
    border: 5px solid #2179fd;
    border-radius: 0px 15px 15px 0px; 
    border-width: 3px 3px 3px 3px;
} 

button{
    display: block;
    color: #ffff;
    width: 150px;   
    height: 51px;
    background-color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px; 
    border-width: 0 1px 0 0;
}  


button:hover{
    color: #ffff;
    width: 150px;   
    height: 51px;
    background-color: #0355d1;
    border: 5px solid #2179fd;
    border-radius: 0px 15px 15px 0px; 
    border-width: 3px 3px 3px 3px;
} 


/* -------------------------------------------------------------------------Le main = Section des filtres*/
#Sec_Filtres{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 30px;
}

#Sec_Filtres h2{
    align-self:flex-start ;
    transform: translateY(50%);
}

#conteneur_filtres{
    display: flex;
    width:100%;
    margin-left: 20px;
    align-items:center;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 10px 10px;
}

i{
    color: #0065FC;
}

.element i{
    padding: 10px;
}

.element{
    display: flex;
    height: 40px;
    border: 2px solid #bababa;
    border-radius: 25px 25px 25px 25px;
    align-items:center;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 20px;
}

.element:hover{
    background-color: #DEEBFF;
    transition: 0.1s;
}


/*----------------------------------------------Le main = Section filtre : Info sur le nombre de logement*/
.info_nb_log{
    display: flex;
    box-sizing: content-box;
    align-items:center;
    margin-top: 25px;
}

.info_nb_log i{
    margin-right: 11px;
}
/*fin de section filtre*/



/* ------------------------------------------------------------Le main = Section Hébergements à Marseille*/
#sec_h_et_pop{
    display: flex;
    margin-top: 25px; 
}

#cadre_heberg{
    width: 65%;
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Le conteneur des Cards "Hébergemeents"*/
#conteneur_adresses{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 10px;
}

.titre_h2{
    margin-top: 0px;
}

.titre_h4{
    margin-top: 40px;
    margin-bottom: 46px;
}

/*les Card ou Ad-resses "hébergements"*/
.card_Ad{
    display: flex;
    flex-direction: column;
    width:30%;
    border-radius: 20px;
    background-color: #ffff;
    box-sizing: border-box;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.2);
    transition: 0.1s;     
}

.photo img{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 124px;
    margin-top: 5px;
    object-fit: cover;
}

figcaption{
    margin-left: 15px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}


.étoileCardAd i{
    width: 5px;
    height: 12px;
}

.étoilesCardAd{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    flex-grow: 3;
}

figure:hover{
    box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.2);
}

/*fin de section "Hébergements"*/



/*---------------------------------------------Section "Main" à droite de la page : "les plus populaires"*/

/*le cadre gris arondi*/
#Les_pop{
    display:flex; 
    flex-direction: column;
    width: 35%;
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    margin-left: 40px;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
}

/* le titre + l'icône statistique"chart" à droite*/
.box{
    display: flex;
    margin: 0px;
    flex-direction: row;
    position: relative;
}

.titrepop{
    align-items: flex-start;
}

.ichart{
    width: 18px;
    height: 15px;
    margin: 0px;
    position:absolute;
    left: 93.5%;
}

/* Le conteneur de l'ensemble des cards pop*/
#contenteur_populaire{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    width: 100%;
}

/*Les "Card" ou les figures "les plus populaires"*/
.card_pop{
    background-color: #FFFF;
    display: flex;
    width: 100%;
    height: 144px;
    margin-top: 18px;
    margin-right: 43px;
    border-radius: 20px;
    box-shadow: 0 1px 8px 1px rgba(0,0,0,0.2);
    transition: 0.1s;   
}


/*l'image dans chaque card*/
.card_pop img{ 
    border-radius: 20px 0px 0px 20px;
    width:40%;
    object-fit: cover;
}


/*Le contenu texte dans chaque card*/
.contenu_pop{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction:column;
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    
}

.contenu_pop p{
    flex-grow: 1;
}


.étoilesCardPop{ 
    display: flex;
}

.card_pop:hover{
    box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.2);
}



/*fin de section "Les plus populaires"*/



/* ----------------------------------------------------------------Section "Main" en bas: "Les activités"*/
#sec_activit h2{
    margin-top: 60px;
}

#cadre_activités{
    display: flex;
    justify-content: space-between;
    gap: 43px;
}

#cadre_activités figure{
    margin-top: 18px;
    width:25%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 8px 1px rgba(0,0,0,0.2);
    transition: 0.1s;   
}

.photo_ac img{
    height: 389px; 
    width:100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card_acti{
    display: flex;
    flex-direction: column;
    margin:0px;
}

.card_acti figcaption{
    margin-top: 10px; 
    margin-right: 15px;  
    margin-bottom: 10px;
    height: 38px;

}

#cadre_activités figure:hover{
    box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.2);
}
/*fin de section "Activités"*/



/*-------------------------------------------------------------Section Footer ou les liens en bas de page*/

footer{
    width: 100%;
}

.conteneur_F{
    display: flex;
    margin-top: 60px;
    background-color: #F2F2F2;
    height: 300px;
    padding-left:70px;
    padding-top: 45px;
}

.conteneur_F nav ul{
    list-style-type: none;
    padding: 0px;
}

.conteneur_F nav li{
    padding-top: 12px;
}

.conteneur_F nav a{
    text-decoration: none;
    color:black;
}

.F_element{
    width:33%;
}

/*fin code pour la page Desktop*/

/*________________________________________________________________________________________________________________*/
/*________________________________________________________________________________________________________________*/
/*___________________________________________Version Tablette_______________________________________________________*/
/*________________________________________________________________________________________________________________*/
/*________________________________________________________________________________________________________________*/
@media screen and (max-width:992px){

    
    #sec_h_et_pop{
        margin-top: 25px; 
        display: flex;
        flex-wrap: wrap;
    }

    #cadre_heberg{
        width: 100%;
        border-radius: 20px 20px 20px 20px;
        background-color: #F2F2F2;
        padding-top: 42px;
        padding-left: 40px;
        padding-right: 40px;
    }

    #Les_pop{
        display:flex; 
        flex-direction: column;
        width: 100%;
        border-radius: 20px 20px 20px 20px;
        background-color: #F2F2F2;
        box-sizing: border-box;
        margin-top: 40px;
        margin-left: 0px;
        padding-top: 42px;
        padding-left: 40px;
        padding-right: 0px;
    }


    #contenteur_populaire{
        display: flex;
        flex-direction: row;
        box-sizing:border-box;
    }

    .card_pop{
        background-color: #FFFF;
        display: flex;
        width: 33%;
        height: 144px;
        margin-top: 18px;
        margin-right: 43px;
        margin-bottom: 48px;
        border-radius: 20px;
        box-shadow: 0 1px 8px 1px rgba(0,0,0,0.2);
        transition: 0.1s;   
    }
}

/*________________________________________________________________________________________________________________*/
/*________________________________________________________________________________________________________________*/
/*___________________________________________Version Mobile_______________________________________________________*/
/*________________________________________________________________________________________________________________*/
/*________________________________________________________________________________________________________________*/
@media screen and (max-width:768px){
    
    /* ---------------------------------------------------------------------------Polices adaptées Mobile*/
    
    nav{
        font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        width: 100%;
    }

    h1{
        margin-top: 0px;
    }

    h2{
        margin-bottom: 26px;
    }

    h3
    {
        font-family: 'Raleway-Bold',Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;    
    }

    header a{
        font-family: 'Raleway',Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
    }


    /* --------------------------------------------------------------------------------------MAPrincipale*/

    body{
        margin:0px;
    }

    #bloc_page{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0px;
        max-width: 1400px;
    }

    /* ------------------------------------------------------------------------------------------En-tête*/
    header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #logo_site{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 21px;
    }

    #logo_site img{
        width: 65px;   
        height: 20px;
    }

    .H_nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }   

    .Moit{ 
        border-top: none;
        width: 50%;
    }

    .Moit:hover{
        border-top: none;
    }

    .Acti{
        border-bottom: 5px solid #DEEBFF
    }

    .Heberg{
        border-bottom: 5px solid #0065FC;
    }

    .Acti:hover{
        border-bottom: 5px solid #DEEBFF
    }

    .Heberg:hover{
        border-bottom: 5px solid #0065FC;
    }
    
    .Moit a{
        text-decoration: none;
        color:black;
        text-align: center;
    }

    #TPrincip{
        display: flex;
        width: 95%;
        flex-wrap: wrap;
        margin-left:5%;
        margin-right:5%;
        margin-top: 36px;
        margin-bottom: 34px;
    }
    /*--------------------------------------------------------------------------------Recherche et filtres*/
    .Recherche{
        margin-left:5%;
        margin-right:5%;
    }

    #champs{
        width: 100%;
    }

    .boutonLoupe{
        display: block;
        /* NDLR : - Bouton Recherche - Bascule on/off  
        : propriété display:block/none */
        color: #ffff;
        width: 20%;   
        height: 50px;
        background-color: #0065FC;
        border: 1px solid #F2F2F2;
        border-radius: 0px 15px 15px 0px; 
        border-width: 0 1px 0 0;
        box-sizing: border-box;
        position: relative;
    }
    
    .boutonLoupe:hover{
        color: #ffff;
        width: 20%;
        height: 50px;
        background-color: #0355d1;
        border: 5px solid #2179fd;
        border-radius: 0px 15px 15px 0px; 
        border-width: 3px 3px 3px 3px;
        position: relative;
    } 

    .boutonLoupe i{
        color: #ffff; 
        position: absolute;
        /* NDLR : Le bouton loupe a un display:block donc:
        -> pas de flex box possible*/
        top:+17px;
        left:+17px;
    }
    
    button
    {
        display: none;
        color: #ffff;
        width: 20%;   
        height: 51px;
        background-color: #0065FC;
        border: 1px solid #F2F2F2;
        border-radius: 0px 15px 15px 0px; 
        border-width: 0 1px 0 0;
    }  
     
/*------------------------------------------------------------------------------section filtres  V.Mobile*/

    #Sec_Filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
        margin-left:5%;
        margin-right: 5%;
    }
    
    #Sec_Filtres h2{
        align-self:flex-start;
        transform: translateY(50%);
        margin-bottom: 15px;
    }
    
    #conteneur_filtres{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px; 
        justify-content:space-between;
        box-sizing: border-box;
        margin: 0px;
    }
    
    i{
        width: 20px;
        height: 20px;
        color: #0065FC;
    }
    
    .element i{
        padding: 10px;
    }
    
    .element{
        display: flex;
        justify-content:flex-start;
        height: 40px;
        border: 2px solid #bababa;
        border-radius: 25px 25px 25px 25px;
        padding-left: 8.5px;
        padding-right: 15px;
    }
    
    .element:hover{
        background-color: #DEEBFF;
    }

    .info_nb_log{
        margin-top: 43px;
        margin-left: 5%;
        margin-right: 5%;
    }


/* -------------------------------------------------------------section Populaire et hebergement* V.Mobil*/

    #sec_h_et_pop{
        margin-top: 0px; 
        display: flex;
        flex-direction: column-reverse;
    }
    
/*---------------------------------------------------------Section "Main" : "les plus populaires V.Mobil"*/
    
    /*le cadre gris arondi*/
    #Les_pop{
        width: 100%;
        background-color:#F2F2F2;
        margin-left: 0px;
        padding-top: 28px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 46px;
        display:flex; 
        flex-direction: column;
        border-radius: 0px;
    }
    
    /* le titre + l'icône statistique"chart" à droite*/
    .box{
        display: flex;
        margin: 0px;
        flex-direction: row;
        position: relative;
    }
    
    .titrepop{
        align-items: flex-start;
    }
    
    .ichart{
        width: 18px;
        height: 15px;
        margin: 0px;
        align-self:center;
        position:absolute;
        left: 93.5%;
    }
    
    /* Le conteneur de l'ensemble des cards pop V.Mobil*/
    #contenteur_populaire{
        display: flex;
        flex-direction: column;
        box-sizing:border-box;
    }
    
    /*------------------------------------Détails des "Card" ou les figures "les plus populaires" V.Mobil*/
    .card_pop{
        background-color: #FFFF;
        display: flex;
        width: 100%;
        height: 144px;
        margin-top: 5.5px;
        margin-bottom: 5.5px;
        /*espace de 11 px entre les cards*/    
        margin-right: 43px;
        border-radius: 20px;
        box-shadow: 0 1px 8px 1px rgba(0,0,0,0.2);
        transition: 0.1s;   
    }
    
    
    /*l'image dans chaque card V.Mobil */
    .card_pop img{ 
        border-radius: 20px 0px 0px 20px;
        width:40%;
        object-fit: cover;
    }
    
    
    /*--------------------------------------------------Détail du contenu texte dans chaque card V.Mobil */
    .contenu_pop{
        width: 90%;
        height: 95%;
        display: flex;
        flex-direction:column;
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 5px;
        padding-top: 5px;
        box-sizing: border-box;   
    }
    
    .contenu_pop p{
        flex-grow: 1;
    }
    
    .étoilesCardPop{ 
        display: flex;
    
    }
    
    .card_pop:hover{
        box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.2);
    }
    


 /*------------------------------------------- Le cardre et le conteneur des Cards "Hébergements V.Mobil"*/
    #cadre_heberg {
        width: 100%;
        background-color: #FFFF;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #conteneur_adresses{
        width:90%;
        margin-left:5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 10px;
    }
    
    .titre_h2{
        margin-top: 26px;
        margin-bottom: -19px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
    .titre_h4{
        display: none;
        /*pas de h4 sur la vMobile*/
    }
    
    /*------------------------------------------------------------Détails des Cards "hébergments V.Mobil"*/
    .card_Ad{
        width:100%;
        border-radius: 20px;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 5px;
        padding-left: 5px;
        box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.2);
        transition: 0.1s;   
        
    }
    
    .photo img{
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 124px;
        margin-top: 5px;
        object-fit: cover;
    }
    
    figcaption + h5{
        margin-left: 15px;
        margin-top: 2px;
    }
    
    .card_Ad h5{
        flex-grow: 3;
        /*<div> étoiles : flex grow 
    La propriété CSS flex-grow définit le facteur d'expansion d'un élément flexible
    selon sa dimension principale. Elle indique la quantité d'espace restant 
    que l'élément devrait consommer dans un conteneur flexible relativement 
    à la taille des autres éléments du même conteneur.*/
    }
    

    .étoileCardAd i{
        width: 5px;
        height: 12px;
    }
    
    .étoilesCardAd{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        display: flex;
    }
    
    figure:hover{
        box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.2);
    }
    
    
    
    /*---------------------------------------------------- Section "Main" en bas: "Les activités" V.Mobil*/
    
    #sec_activit h2{
        margin-top: 105px;
        margin-bottom: -23px;
        margin-left: 5%;
    }
    
    #cadre_activités{
        width:90%;
        margin:5%;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 43px;
    }
    
    #cadre_activités figure{
        margin-top: 0px;
        width:100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 1px 8px 1px rgba(0,0,0,0.2);
        transition: 0.1s;   
    }
    
    .photo_ac img{
        height: 140px; 
        width:100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    
    .card_acti{
        display: flex;
        flex-direction: column;
        margin:0px;
    }
    
    .card_acti figcaption{
        margin-top: 10px; 
        margin-right: 15px;  
        margin-bottom: 0px;
        height: 38px;
    
    }
    
    #cadre_activités figure:hover{
        box-shadow: 1px 2px 16px 2px rgba(0,0,0,0.2);
    }


    /* -----------------------------------------------------------------------------------------Le Footer*/
    .conteneur_F{
        height: 100% ;
        flex-direction: column;

    }

    .F_element{
        margin-bottom: 51px;
    }
   

}